/* Coolors Exported Palette - coolors.co/011627-fefefd-001763-170808-ffa812 */

/* HSL */
$color1: hsla(207%, 95%, 8%, 1);
$color2: hsla(60%, 33%, 99%, 1);
$color3: hsla(226%, 100%, 19%, 1);
$color4: hsla(0%, 48%, 6%, 1);
$color5: hsla(38%, 100%, 54%, 1);

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(254, 254, 253, 1);
$color3: rgba(0, 23, 99, 1);
$color4: rgba(23, 8, 8, 1);
$color5: rgba(255, 168, 18, 1);